
.guide {
    text-align: center;
}

.guide p {
    margin: 5px 0;
}

#top_guide {
    padding: 5px 0;
}

#bottom_sect p {
    margin: 5px;
}

#bottom_sect a {
    text-decoration: none;
    color: #2563EB;
    font-weight: 600;
}

#bottom_sect a:hover {
    color: #2DD4BF;
}


